@font-face {
    font-family: Orbitron;
    src: url("./assets/Orbitron-Medium.ttf");
}

body{
    background-color: #FDB827;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html{
    height: 100%;
}


.calc{
    border: 2px solid black;
    border-radius: 8px;
    height: 490px;
    width: 350px;
    padding: 25px;
    background-color: #23120B;
}

.display{
    background-color: #21209C;
    box-sizing: border-box;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
}

.bottom{
    font-family: Orbitron;
    color: white;
    font-size: 60px;
}

.button-row{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px
}

button{
    height: 75px;
    width: 75px;
    border: 0px;
    border-radius: 5px;
    font-size: 35px;
    font-family: Orbitron;
}

button:hover{
    opacity: 0.65;
}